:root {
    --color1:#D89584;
    --color2:#F4F4F4;
}

*::before,
*::after {
  box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    src: url('https://rsms.me/inter/inter.css');
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    scroll-behavior: smooth;
  
}
div.header {
    background: url(../image/cover_overlay.png) no-repeat center / 100% 100% , url(../image/cover.jpg) no-repeat center / cover ;
    height: 310px;  
}

#topnav {
  overflow: hidden;
  margin: auto;
  width: 514px;
}
#topnav a{
    text-decoration: none;
    color: var(--color1);
    display: block;
    padding: 25px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background: none;
    display: block;
    float: left;
}
#topnav a:hover{
    color: #fff;
}
#background-topnav{
  background: none;
  z-index: 1000;
}
#background-topnav.sticky{
  background: url(../image/cover_overlay.png) no-repeat center / 100% 100% , url(../image/cover.jpg) no-repeat center / cover ;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* title in the header */ 

.titre h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 25px;
}
.bar{
    border: 1.5px solid var(--color1);
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 35px;
}

.metier p{
    margin-top: 40px;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

/* About me section */ 

.about-me {
    height: 600px;
    background-color: #F8F9FA;
    text-align: center;
    padding-top: 90px;
    width: 100%;
    position: relative;
}
.about-me h1{
    margin-top: 0;
    padding-top: 10px;
    display: inline-block;
}

.about-me-container{
  margin-top: 50px;
  margin-left: 218px;
  margin-right: 218px;
  
}

.about-me-container-child {
  display: inline-block;
} 

.about-me img,.about-me svg {
  width: 100%;
}

.about-me-container-child:first-child {
  width: 75%;
  /*margin-right: 20px;
  margin-left: 25px;*/
} 

.about-me-container-child:nth-child(2){
  width: 20%;
  vertical-align: top;
}


/* Skills section */ 

.skills {
    height: 600px;
    text-align: center;
    padding-top: 90px;
    margin-left: 218px;
    margin-right: 218px;
}

.skills h1{
  display: inline-block;
  background-image: linear-gradient(to right, #000000, #000000);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 100% 2px;
}

.container-skill{
  display: flex;
}

.skill-bloc-left{
  margin-right: 25px;
}

.skill-bloc-right{
  margin-left: 25px;
}

.mbot {
  margin-bottom: 75px;
}
/* Portfolio */ 


.portfolio{
    height: 600px;
    background-color: #f4f4f4;
    padding-left: 10px;

}

.portfolio h1{
  display: inline-block;
  background-image: linear-gradient(to right, #000000, #000000);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 100% 2px;
}



/* gallery section */
.l-gallery {
  background: var(--bg-lightgrey);
}

.l-gallery a.zoom {
  overflow: hidden;
  position: relative;
}

.l-gallery a.zoom img {
  transition: 0.3s ease-in-out;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.l-gallery a:hover img {
  overflow: hidden;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.l-gallery span.hover-content {
  position: absolute;
  bottom: -100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  padding: 46px 50px;
  color: #ffffff;
  z-index: 2;
}

.l-gallery span.hover-content .title {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  display: block;
  margin-bottom: 10px;
}

.l-gallery span.hover-content .content {
  font-size: 18px;
  color: #eee;
  display: block;
}

.l-gallery .overlay__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(51 51 51 / 56%);
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.l-gallery a.zoom:hover .hover-content {
  bottom: 0;
  visibility: visible;
  opacity: 1;
}

.l-gallery a.zoom:hover .overlay__hover {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 480px) {
  .l-gallery span.hover-content {
    padding: 36px 40px;
  }
}



/* gallery */


/* ----- Contact section ------ */
.contact{
    text-align: center;
    margin-top: 25px;
}
.contact a{
  color: #D89584;
  text-decoration: none;
}
.contact a:hover{
  color: #251667;
  text-decoration: underline;
}
.contact p{
  margin-top: 10px;
}

.button-contact{
  margin-top: 45px;
}

button.btn-primary {
  background-color: #ffffff;
  border-color: #D89584;
  color: #D89584;
  border-width: 2px;
}

button.btn-primary:hover {
  background-color: #D89584;
  border-color: #D89584;
  color: #ffffff;

}



/* -----  Footer  ------- */ 
.footer{
  text-align:center;
}
.container {
  margin-top: 100px;
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-left: 350px
}

div.col-md-4{
  -webkit-box-flex: 0;
  flex: 0 0 33.3333%;
  max-width: 33.33333%;
}
span.copyright{
  font-size: 90%;
  line-height: 60px;
  text-transform: none;
}

ul.social-button{
  margin-bottom: 0;
}
.list-inline{
  padding-left: 0;
  list-style: none;
}
.list-inline-item{
  margin-right: .5rem;
  display: inline-block;
}

/* gallery section */
.gallery {
  background: var(--bg-lightgrey);
}

.gallery a.zoom {
  overflow: hidden;
  position: relative;
}

.gallery a.zoom img {
  transition: 0.3s ease-in-out;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.gallery a:hover img {
  overflow: hidden;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.gallery span.hover-content {
  position: absolute;
  bottom: -100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  padding: 46px 50px;
  color: #ffffff;
  z-index: 2;
}

.gallery span.hover-content .title {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  display: block;
  margin-bottom: 10px;
}

.gallery span.hover-content .content {
  font-size: 18px;
  color: #eee;
  display: block;
}

.gallery .overlay__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(51 51 51 / 56%);
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.gallery a.zoom:hover .hover-content {
  bottom: 0;
  visibility: visible;
  opacity: 1;
}

.gallery a.zoom:hover .overlay__hover {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 480px) {
  .gallery span.hover-content {
    padding: 36px 40px;
  }
}

.pb-5 {
  padding-bottom: 3rem !important;
}

/* container */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

.py-md-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.text-center {
  text-align: center !important;
}
.mb-sm-0 {
  margin-bottom: 0 !important;
}

.mb-sm-5 {
  margin-bottom: 3rem !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
h5.title-small {
  color: var(--primary-color);
  font-size: 25px;
  text-transform: uppercase;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}
h3.title-style {
  font-size: 34px;
  line-height: 44px;
  font-weight: bold;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}
.col-lg-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}
.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}

.d-block {
  display: block !important;
}
.card-img-bottom {
  width: 100%;
}
.mt-md-0 {
  margin-top: 0 !important;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.pt-lg-2 {
  padding-top: 0.5rem !important;
}

/* test */ 
