* {
    box-sizing: border-box;
}
:root {
    --color1:#D89584;
    --color2:#F4F4F4;
}
body {
        margin:0;
        font-family: Arial;
        line-height: 1.5;
}
iframe {
    width: 100%;
    border: none;
    height: 350px;

}
div.cover {
    background: url(images/cover_overlay.png) no-repeat center/100% 100%,url(images/cover.jpg) no-repeat center/cover;
    height: 360px; 
    position: relative;  
}
img.cover-profile {
    height: 100px;
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-top: 50px;
}
h1 {
    color: white;
    text-align: center;
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 0px;
}
div.cover p {
    color: lightgray;
    text-align: center;
    margin-top: 8px;
    font-size: 14px;
}
div.cover-contact {
    /*background-color: #ff000096;*/
    position:absolute;
    top: 20px;
    left: 10px;
    border-left: 4px solid var(--color1);
    padding-left: 8px;
    
}
div.cover-contact p {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    
    
}
div.cover-contact p:first-child {
    margin-bottom: 14px;
}
div.cover-contact a {
    color: white;
    font-size: 14px;

}
a.cover-contact-button{
    margin-top: 18px;
    border: 2px solid var(--color1);
    background-color: #00000060;
    padding: 8px 20px;
    text-decoration: None;
    color: var(--color1);
    text-transform: uppercase;
    font-weight: bold; 
    font-size: 14px;
    
}

a.cover-contact-button-portfolio{
    position: absolute; 
    right: 20px; 
    top: 7px ;
}

a.cover-contact-button:hover{
    color: white;
    border: 2px solid white;
}

div.cover-contact-button{
text-align: center;
margin-top: 40px;
}
.section{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;
}
div.section-grise1{
    background: url(images/triangle2white.svg) no-repeat center bottom -1px/100%;
    background-color: var(--color2);
    padding-bottom: 70px;
}
div.section-grise2{
    background: url(images/triangle1white.svg) no-repeat center top/100%;
    background-color: var(--color2);
    padding-top: 80px;
}

h2 {
    text-align: center;
    font-size: 34px;
    margin-top: 0px;
}

div.section-grise1 p {
    font-size: 22px;
    text-align: center;
    color: #656565;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

div.espacer{
    background-color: #979797;
    height: 1px;
    width: 150px;
    position: relative;
    left: 50%;
    margin-left: -75px;
}
img.col-contenu{
    width: 40%;
}
div.col-contenu{
    width: 60%;
    padding-left: 16px;
}

.float-right{
    float: right;
}

div.texte-avec-ligne-verticale-gauche{
    border-left: 4px solid var(--color1);
    padding-left: 8px;
    height: 50px;
    display: inline-block;
}
div.texte-avec-ligne-verticale-gauche p {
    margin-top: 0;  
}

div.barre-verticale{
    height: 50px;
    width: 4px;
    background-color: var(--color1);
    margin-right: 10px;
}

.col-portfolio {
    width: 47%;
}

div.frame{
    margin: 30px 50px;
    padding: 20px 30px;
    box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.1);
    background-color: white;
}

div.frame p.frame-title {
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

div.frame table {
    width: 100%;
}

div.frame img  {
    width: 100px;
    left: 50%;
    margin-right: 40px;
}

/*PORTFOLIO*/

div.portfolio-header{
    background: url(images/header.jpg) no-repeat center/cover;
    height: 90px; 
    position: relative; 
}

.portfolio-header-title {
    font-size: 26px;
    font-weight: bold;
    color: white;
    padding-top: 4px;
    padding-left: 8px;
}

h1.portfolio{
    color: black;
    font-weight: bold;
    font-size: 46px;
    line-height: 1;
    padding-top: 10px;
}

h2.portfolio{
    color: black;
    font-weight: normal;
    font-size: 26px;
    margin-bottom: 0;
}
a.portfolio-back {
    font-size: 12px;
    color: var(--color1);
    margin-left: -20px;
}

.content-picture {
    margin-top: 30px;
    width: 70%;
    max-width: 475px;
}

.display-mobile{
    display: none;
}


/* RESPONSIVE DESIGN : MOBILE */
@media only screen and (max-width: 767px) {

    img.cover-profile {
        height: 90px;
        margin-top: 75px;
    }
    h1 {
        font-size: 38px;
        margin-top: 6px;
        margin-bottom: 0px;
    }
    div.cover p {
        margin-top: 2px;
        font-size: 13px;
    }
    .section{
        padding-left: 20px;
        padding-right: 20px;
    }
    div.section-grise1{
        padding-bottom: 40px;
    }
    h2 {
        font-size: 30px;
    }
    
    div.texte-avec-ligne-verticale-gauche{
        display: inline-block;
    }
    img.col-contenu{
        width: 100%;
    }
    div.col-contenu{
        width: 100%;
        padding-left: 0px;
        margin-top: 20px;
    }
    .col-portfolio {
        width: 100%;
        margin-bottom: 20px;
    }

    /* FRAME */ 
    div.frame{
        margin: 0px 0px;
        padding: 0px 0px;
        box-shadow: none;
    }
    
    div.frame p.frame-title {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    div.frame img {
        width: 70px;
        margin-right: 15px;

    }

    /* PORTFOLIO MOBILE */ 
    .portfolio-header-title {
        font-size: 19px;
        padding-left: 4px;
        padding-top: 8px;
    }
    a.cover-contact-button{
        margin-top: 22px;
        padding: 6px 10px;
        font-size: 12px;
        
    }
    a.cover-contact-button-portfolio{ 
        right: 8px; 
        top: 5px ;
    }
    h1.portfolio{
        font-size: 40px;
    }
    
    h2.portfolio{
        font-size: 22px;
    }
    .content-picture {
        width: 100%;
    }
    .display-mobile{
        display: block;
    }
  }